body {
	padding: 15px;
}

.container {
	max-width: 620px;
	margin: 0 auto;
	background: #ffffff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.img-container {
	display: block;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 90%;
}

.basic-container {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.calendar {
	font-family: '맑은 고딕';
	font-size: 1.3em;
	text-align: center;
}

.month-subtitle {
	padding-left: 10px;
	font-size: 1.3em;
	font-weight: bold;
	text-align: left;
}

.subtitle {
	padding-left: 10px;
	font-size: 1.8em;
	font-weight: bold;
	text-align: left;
}

.d-day {
	background-color: #fcc;
	color: #f33;
}

.info {
	margin-top: 25px;
	margin-bottom: 25px;
	font-weight: bold;
}

.info {
	text-align: center;
	font-size: 14px;
}

.info > dl > dt {
	font-size: 20px;
}

.info > dl > dd {
	text-align: center;
	display: inline-block;
	padding: 10px;
}

.info .greeting-text1 {
	color: #008744;
	font-family: 'Varela Round';
	font-size: 20px;
}

.info .greeting-text2 {
	color: #008744;
	font-family: 'Varela Round';
	font-size: 35px;
	font-weight: bold;
}

.info .date {
	color: #008744;
	font-family: 'Varela Round';
	font-size: 20px;
}

.info .location {
	color: #6D6E70;
	margin-top: 5px;
}

.info .greeting-text {
	font-family: 'Varela Round';
	text-align: center;
	font-size: 13px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.parent > ul > li {
    float: left;
    width: 50%;
    text-align: center;
	font-size: 20px;
}

.groom-parent,
.bride-parent,
.groom-father,
.groom-mother,
.bride-father,
.bride-mother {
	font-weight: bold;
	font-size: 20px;
}

.groom-father-title,
.groom-mother-title,
.bride-father-title,
.bride-mother-title {
	font-size: 16px;
	margin-right: 5px;
}
    

.edit div {
	padding: 5px;
}